div{
    position: relative;
    left:550px;
    top:50px;

    display: block;
    background-color: rgb(233, 233, 106);
    width: 300px;
    height: 280px;
    padding: 90px;
    padding-top: 90px;
    padding-right: 90px;
    padding-bottom: 90px;
    padding-left: 90px;
    border-radius: 15px;

}
input{
    height: 50px;
    width: 300px;
    border-radius: 10px;
    border-color: white;
}
.btn{
    background-color: rgb(58, 181, 226);
    border: gray;
    width: 100px;
    height: 40px;
    border-radius: 15px;

}
.btn:hover{
    background-color: rgb(144, 213, 238);
}